<h1 class="page-header">{{title}}</h1>
<a href="{{data.mobile_url}}" class="movie-item">
	<div class="row">
		<div class="movie-image col-md-4 col-sm-4 col-xs-12">
			<img class="media-object" ng-src="{{data.images.large}}" alt="{{data.title}}">
		</div>
		<div class="movie-info col-md-8 col-sm-8 col-xs-12">
			<h4 class="movie-heading">
				<p class="movie-details">
					<i>中文名：</i>
					{{data.title}}
				</p>
				<p class="movie-details">
					<i>别名：</i>
					<span>{{data.original_title}}/</span>
					<span ng-repeat="curItem in data.aka">{{curItem}}{{$last ? '':'/'}}</span>
				</p>
				<p class="movie-details">
					<i>上映年份：</i>
					{{data.year}}
				</p>
				<p class="movie-details">
					<i>地区：</i>
					<span ng-repeat="curItem in data.countries">{{curItem}}{{$last ? '':'、'}}
					</span>
				</p>
				
				<p class="movie-details">
					<i>导演：</i>
					<span ng-repeat="curItem in data.directors">{{curItem.name}}{{$last ? '':'、'}}
					</span>
				</p>
				<p class="movie-details">
					<i>主演：</i>
					<span ng-repeat="curItem in data.casts">{{curItem.name}}{{$last ? '':'、'}}
					</span>
				</p>
				<p class="movie-details">
					<i>类型：</i>
					<span ng-repeat="curItem in data.genres">{{curItem}}{{$last ? '':'、'}}</span>
				</p>
				<p class="movie-details">
					<i>豆瓣评分：</i>
					{{data.rating.average}}
				</p>
				
			</h4>
		</div>
	</div>
</a>
<div class="movie-item">
	<div>
		<p>简介：</p>
		<p>{{data.summary}}</p>
		<a href="http://www.soku.com/m/y/video?q={{title}}" class="link_youku">优酷搜...</a>
	</div>
</div>
